* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body,
main {
  margin: 0 auto;
  font-family: "roboto" "Helvetica", Arial, sans-serif;
  background-color: white;
}
/* css untuk header,px adalah yang bisa dicustom,persen hanya ada 100% jadi akan fullscreen,lebar website kita akan mengikuti ukuran layar kita. bagus dengan vh dan jangan pakai px. */
header {
  position: fixed;
  top: 0;
  height: 52px;
  width: 100%;
  color: rgba(255, 253, 253, 0.87);
  background-color: rgba(0, 0, 0, 0.92);
  z-index: 10;
  /* sejajar jika tidak pakai z-index
    z-index itu adalah jarak antara benda dan object itu jika - dibelakang benda dan jika angka normal akan terpisah didepan   */
}
/* .header-wrapper { 
    text-align: center;
    line-height: 50px;
    font-size: 30px;
} */
.header-list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  /* padding auto itu adalah 0 */
}

/* Child class,turunan anak,header-list punya anak ul dan ul punya anak li,ibu itu namanya berbeda-beda,dan anak itu sama,element html (div,a) */
.header-list li {
  /* jarak atas bawah kanan kiri margin */
  margin: 0;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
}
.header-list li a {
  text-decoration: none;
  color: #f5f5f7;
}
.logo {
  width: 25px;
}
.search-container {
  position: relative;
}
.search-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0 0.1);
}

.search-dropdown input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}
.search-dropdown button {
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 15px;
  /* kanan kiri klu ada 4 atas bawah */
  cursor: pointer;
}

.search-dropdown button:hover {
  background-color: #555;
}
/* Content */
.contents {
  background-color: white;
}
.image-container .iphone-12 {
  height: 640px;
  width: 100%;
  margin-bottom: 0px;
}

.iphone-12 {
  height: 100%;
  background-image: url(/img/iphone_12.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.iphone-12 .title {
  text-align: center;
  padding-top: 50px;
}
.iphone-12 .title h1 {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.897);
  font-weight: 700;
  font-family: "Roboto";
}
.iphone-12 .title p {
  font-size: 25px;
  color: rgba(41, 41, 41, 0.89);
  font-weight: bold;
}

/* Responsive */
.menu-logo {
  visibility: hidden;
  position: absolute;
}
.fa-search {
  visibility: hidden;
}

/* kalau kelas pakai titik, div yang punya class itu yag dimasukin ke css-nya pakai titik. */
